// COULEURS PRIMAIRES

$blue-900: #184059;
$blue-800: #1F5475;
$blue-700: #286C97;
$blue-600: #348AC1;
$blue-500: #3998D4;
$blue-400: #61ADDD;
$blue-300: #7ABAE2;
$blue-200: #A4D0EB;
$blue-100: #C2DFF2;
$blue-50: #EBF5FB;

$white-section: #FFFFFF;

$white-title: #FBFBFB;


// COULEURS SECONDAIRES

$black-800: #121212;
$black-600: #1D1D1D;
$black-400: #4D4D4D;
$black-300: #6A6A6A;
$black-100: #BABABA;

$black: #000000;

$grey: #F9F9F9;


// COULEURS DES OVERLAY

$overlay: #184059B0;
$overaly-secondaire: #D9D9D9;
$overlay-testimonial: #C0C0C0;
$big-heading-color: #C2DFF273;